.question {
  &__tags {
    position: relative;
    height: 1rem;
    margin-bottom: 1rem;
  }
  &__answer {
    display: flex;
    margin-bottom: 1rem;
  }
  &__explanation {
    box-shadow: none;
  }
}
